<!DOCTYPE html>
<head th:insert="librerias::librerias">
</head>
<body>
	<div class="container">
	<header>
		<div th:insert="top::top"></div>
	</header>
	<h1>Alumnos en Spring</h1>
	<!--IMPRIMIR ALUMNOS-->
	<table class="table table-hover">
		<thead class="table-dark bg-info text-white">
			<tr>
				<th>Id </th>
				<th>Nombre </th>
				<th>Editar </th>
				<th>Borrar </th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${listaAlumnos.Empty}">
				<td colspan="2">No hay alumnos </td>
			<tr th:each="alumno:${listaAlumnos}">
				<td>
					<a th:href="@{/alumnos/{id}(id=${alumno.id})}" class="btn btn-primary btn-sm">
					<span th:text="${alumno.id}"> </span>
					</a>
				</td>
				<td> 
				<span th:text="${alumno.nombre}"> </span>
				</td>
				<td> 
					<a th:attr="data-target='#modal-edit'+${alumno.id}" data-toggle="modal" data-target="#modal-edit" class="btn btn-primary btn-sm text-white pointer">
					Modificar
					</a>
				</td>
				<td> 
					<a th:attr="data-target='#modal-delete'+${alumno.id}" data-toggle="modal" data-target="#modal-delete" class="btn btn-primary btn-sm text-white pointer">
					Eliminar
					</a>
				</td>
				<!--edit modal-->
				<div class="modal fade" th:id="modal-edit+${alumno.id}">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Modificar</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el nombre nuevo para el alumno/a:
							<strong><span th:text="${alumno.nombre}"> </span></strong></p>
							<!--formulario nombre a editar-->
							<form action="#" th:action="@{/alumnos/edit/{id}(id=${alumno.id})}" th:object="${alumnoaEditar}" method="post"> 
								<div class"form-row">
								<div class="form-group mt-1"> 
									<label for="texto">Nombre</label>
									<input type="text" th:field="*{nombre}" class="form-control" id="exampleInputEmail" th:attr="placeholder=${alumno.nombre}"/>
								</div>
								</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">Cancelar</button>
									<input type="submit" value="Modificar" class="btn btn-primary float-right"/>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- fin edit modal-->
				<!--delete modal-->
				<div class="modal fade" th:id="modal-delete+${alumno.id}">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Borrar</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el nombre a borrar del alumno/a:
							<strong><span th:text="${alumno.nombre}"> </span></strong></p>
								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">Cancelar</button>
									<a th:href="@{/alumnos/delete/{id}(id=${alumno.id})}"> 
									<span class="btn btn-danger btn-sm" value="delete">Borrar</span>
									</a>
								</div>
						</div>
					</div>
				</div>
				<!-- fin delete modal-->
				
		</tbody>
	</table>
		<div class="col-2 float-right">
			<div class="p-5">
				<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#crearMensaje"> + </button>
				
			</div>
		</div>
				<!--create modal-->
				<div class="modal fade" id="crearMensaje">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Crear alumno/a</h4>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el nombre para nuevo/a alumno/a:
							<!--formulario nombre a editar-->
							<form action="#" th:action="@{/alumnos/add/}" th:object="${alumnoNuevo}" method="post"> 
								<div class"form-row">
								<div class="form-group mt-1"> 
									<label for="texto">Nombre</label>
									<input type="text" th:field="*{nombre}" class="form-control" id="gheryhrt" placeholder="Nombre" />
								</div>
								</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">Cancelar</button>
									<input type="submit" value="Crear" class="btn btn-primary float-right"/>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- fin create modal-->
	</div>
</body>