<!DOCTYPE html>
<html lang="en">

<head th:insert="librerias::librerias">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  

	<title>Ingredientes</title>
 

</head>

<body id="page-top"><!-- top -->
        <!-- top -->
        <!-- top -->
 		<div th:insert="top::top"></div>
	<div class="container">
		<!-- top -->
		<!-- top -->
	 
		<div class="m-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">
							<i class="fas fa-home fa-sm fa-fw mr-3 text-gray-600"></i>
						</a>
					</li>
					<li class="breadcrumb-item">Ingredientes</li>
				</ol>
			</nav>
		</div>

		 
	</div>
</body>

 


</html>